<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Results Dashboard</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

        <!-- Google fonts CSS -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">

        <!-- Chart CSS -->
        <style media="screen">

            body {
                background-image: url("../static/images/reee.jpg");
                background-color: black;
                font-family: 'Roboto', sans-serif;
            }

            .gloomy-text {
                letter-spacing: 10px;
                font-weight: 100;
                color: #fff;
                text-align: center;
            }

            .main {
                text-align: center;
            }

            canvas {
                display: inline-block !important;
            }

            #attentionCanvas{
                width: 400px !important;
                height: 400px !important;
                opacity: 0;
            }

            #relaxationCanvas{
                width: 400px !important;
                height: 400px !important;
                opacity: 0;
            }

            .gloomy-text {
                color: rgb(195, 195, 195);
            }
        </style>
    </head>
    <body>
        <h1 class="gloomy-text">DID I BLUR YOUR <b>MIND</b>?</h1>

        <!-- Main div for both charts -->
        <div class="main">
            <!-- The attention chart canvas -->
            <canvas id="attentionCanvas" width="200" height="200"></canvas>

            <!-- The relaxation chart canvas -->
            <canvas id="relaxationCanvas" width="200" height="200"></canvas>
        </div>

        <script>
        // Seed data.
        var data = {
            0.833: 0,
            1.346: 44,
            1.833: 44,
            2.332: 44,
            2.833: 47,
            3.334: 47,
            3.833: 51,
            4.368: 51,
            4.833: 51,
            5.334: 57,
            5.832: 60,
            6.332: 56,
            6.832: 56,
            7.333: 64,
            7.833: 64,
            8.333: 66,
            8.833: 66,
            9.333: 66,
            9.832: 70,
            10.333: 70,
            10.833: 78,
            11.332: 78,
            11.832: 63,
            12.333: 63,
            12.833: 63,
            13.333: 63,
            13.832: 63,
            14.332: 57,
            14.832: 57,
            15.334: 67,
            15.833: 67,
            16.333: 64,
            16.833: 64,
            17.334: 61,
            17.834: 61,
            18.333: 53,
            18.846: 53,
            19.332: 38,
            19.833: 38,
            20.332: 30,
            20.832: 30,
            21.332: 23,
            21.833: 23,
            22.333: 23,
            22.834: 30,
            23.346: 30,
            23.832: 41,
            24.334: 41,
            24.833: 50,
            25.332: 50,
            25.832: 54,
            26.332: 54,
            26.834: 56,
            27.343: 56,
            27.833: 57,
            28.333: 57,
            28.833: 56,
            29.333: 56,
            29.844: 61,
            30.333: 61,
            30.833: 63,
            31.333: 63,
            31.833: 61,
            32.342: 61,
            32.833: 64,
            33.341: 64,
            33.832: 57,
            34.342: 57,
            34.833: 53,
            35.344: 53,
            35.832: 54,
            36.337: 54,
            36.836: 54,
            37.337: 50,
            37.838: 53,
            38.34: 53,
            38.841: 51,
            39.339: 51,
            39.839: 53,
            40.337: 56,
            40.838: 56,
            41.335: 56,
            41.836: 53,
            42.353: 53,
            42.838: 61,
            43.338: 61,
            43.837: 64,
            44.344: 64,
            44.856: 64,
            45.342: 63,
            45.843: 64,
            46.337: 57,
            46.837: 57,
            47.339: 57,
            47.837: 50,
            48.337: 50,
            48.841: 51,
            49.338: 51,
            49.84: 50,
            50.34: 50,
            50.859: 50,
            51.346: 53,
            51.841: 53,
            52.339: 53,
            52.838: 61,
            53.355: 61,
            53.841: 66,
            54.339: 66 }

            // Getting the attention chart canvas.
            const attentionChartContext = document.getElementById("attentionCanvas").getContext("2d");

            // Creating the array of xlabels and ydata.
            const xlabels = [];
            const ydata = [];
            var counter = 0;
            for(var key in data) {

                if ((counter % 5) == 0) {
                    xlabels.push(key);
                    counter = 0;
                }else {
                    xlabels.push("");
                }
                counter++;

                ydata.push(data[key]);
            }

            // Creating the attention chart.
            const attentionChart = new Chart(attentionChartContext, {
                type: "line",
                data: {
                    labels: xlabels,
                    datasets: [{
                        data: ydata,
                        backgroundColor: ["rgba(104, 32, 179, 0.7)"],
                        borderColor: ["rgba(112, 47, 180, 1)"],
                        borderWidth: 10
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: "Attention Level",
                                fontSize: 40,
                                fontColor: "#ffffff"
                            }, ticks: {
                                fontSize: 40,
                                fontColor: "rgba(195, 195, 195, 1)",
                            }, gridLines: {
                                display: true,
                                color: "rgba(112, 47, 180, 0.5)"
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: "Number of Watched Seconds",
                                fontSize: 40,
                                fontColor: "#ffffff"
                            }, ticks: {
                                fontSize: 40,
                                fontColor: "rgba(195, 195, 195, 1)",
                            }, gridLines: {
                                display: true,
                                color: "rgba(112, 47, 180, 0.5)"
                            }
                        }],
                    },
                    title: {
                        text: "Attention",
                        fontSize: 50,
                        display: true,
                        fontColor: "#ffffff"
                    },
                    legend: {
                        display: false
                    }
                }
            });

            // Getting the relaxation chart canvas.
            const relaxationChartContext = document.getElementById("relaxationCanvas").getContext("2d");

            // Creating the relaxation chart.
            const relaxationChart = new Chart(relaxationChartContext, {
                type: "line",
                data: {
                    labels: xlabels,
                    datasets: [{
                        data: ydata,
                        backgroundColor: ["rgba(193, 12, 80, 0.7)"],
                        borderColor: ["rgba(219, 64, 122, 1)"],
                        borderWidth: 10
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: "Attention Level",
                                fontSize: 40,
                                fontColor: "#ffffff"
                            }, ticks: {
                                fontSize: 40,
                                fontColor: "rgba(195, 195, 195, 1)",
                            }, gridLines: {
                                display: true,
                                color: "rgba(219, 64, 122, 0.5)"
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: "Number of Watched Seconds",
                                fontSize: 40,
                                fontColor: "#ffffff"
                            }, ticks: {
                                fontSize: 40,
                                fontColor: "rgba(195, 195, 195, 1)",
                            }, gridLines: {
                                display: true,
                                color: "rgba(219, 64, 122, 0.5)"
                            }
                        }],
                    },
                    title: {
                        text: "Relaxation",
                        fontSize: 50,
                        display: true,
                        fontColor: "#ffffff"
                    },
                    legend: {
                        display: false
                    }
                }
            });

            // Animating the canvas.
            const attentionCanvas = document.getElementById("attentionCanvas");
            const relaxationCanvas = document.getElementById("relaxationCanvas");

            document.addEventListener("DOMContentLoaded", () => {
                fadeCanvas(attentionCanvas);
                fadeCanvas(relaxationCanvas);
            });

            var opacity = 0;
            function fadeCanvas(canvasObject) {
                if (opacity < 1) {
                    opacity += 0.1;
                    setTimeout(() => {
                        fadeCanvas(canvasObject);
                    }, 100);
                }
                canvasObject.style.opacity = opacity;
            }
        </script>
    </body>
</html>
