<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="loading-bar.css"/>
    <script type="text/javascript" src="loading-bar.js"></script>
    <title>Document</title>
</head>

<body>
    Progress Bar
    <div class="ldBar" data-value="69",
    style="width:50%;height:100px",
    style="rotate: 180deg;",
    data-stroke="data:ldbar/res,gradient(0,1,#,#9,#9400D3,#9400D3)",
    data-path="M10 20Q20 15 30 20Q40 25 50 20Q60 15 70 20Q80 25 90 20">
</div>

</body>
</html>